@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300');

:root {
  --padding: 30px;
}

* {
  box-sizing: border-box;
}

body {
  background: #757575;
  overflow-x: hidden;
}

.container {
  perspective: 800px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.card {
  width: 700px;
  height: 400px;
  background: rgb(20, 20, 20);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform-style: preserve-3d;
  transition: 0.6s;
  position: relative;
}

.qr-container {
  position: absolute; /* Position the QR code container absolutely */
  bottom: 10px; /* Adjust the distance from the bottom */
  left: 400px; /* Adjust the distance from the right */
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotate(0deg) translateZ(1px);
}

.front {
  line-height: calc(400px - 40px); 
  text-align: center;
}

.back {
  background: #15CCC0;
  padding: var(--padding);
}

.name {
  color: #4d32e6;
  margin-bottom: 0;
  font-weight: bolder;
  font-size: 32px;
}

p {
  margin: 0.8em 0;
}

.info {
  position: absolute;
    bottom: 100px;
    left: var(--padding);
    color: black; 
}

.d-card3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.property {
  color: #fff;
  font-weight: bold;
  margin-right: 10px;
  line-height: 30px;
  letter-spacing: 0.2rem;
}

.j-title {
  color: black;
  font-weight: bolder;
  margin-top: 0px;
  letter-spacing: 0.2rem;
  font-size: 20px;
}

#qrcode {
  width: 150px;
  height: 150px; 

}

.middle-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 10vh; 
}

.back-link {
  outline: 1px solid #19F6E8;
  color:#19F6E8;
  display: inline-block;
  padding: 15px 40px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 8px;
}

.back-link:hover {
  background-color: #4d32e6;
}

.card-for-buttons {
  display: flex;

}

.card-for-buttons2 {
  flex: 33%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.download-icon {
  background: none;
  border: none;
  cursor: pointer;
  color: #4d32e6;
  font-size: 24px;
  transition: color 0.3s;
}

.download-icon:hover {
  color: #6a50e3;
}

@media (max-width: 700px) {
  .card {
    transform: scale(0.5);
  }
  .container:hover .card {
    transform: scale(0.5) rotateY(-180deg) translateZ(1px);
  }
}

