
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300');

:root {
  --padding: 30px;
}

* {
  box-sizing: border-box;
}

body {
  background: #757575;
}

.d-card-container {
  perspective: 800px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.d-card1 {
  width: 700px;
  height: 400px;
  background: #15CCC0;
  padding: var(--padding);
  position: relative; /* Add position relative to the card container */
}

.d-name {
  color: #4d32e6;
  margin-bottom: 0;
  font-weight: bolder;
  font-size: 32px;
}

.d-qr-code-container {
  position: absolute; /* Position the QR code container absolutely */
  bottom: 1px; /* Adjust the distance from the bottom */
  left: 400px; /* Adjust the distance from the right */
}
.d-card3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.d-button {
    background-color: #4d32e6;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.d-button-area {
    outline: 1px solid #19F6E8;
    padding: 10px 30px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1 em;
    font-weight: normal;
    line-height: 20px;
    color:#19F6E8;
    margin-top: 10px;
  }

.d-info {
    position: absolute;
    bottom: 100px;
    left: var(--padding);
    color: black;
    font-weight: 18px;
    
}

.d-property {
  color: #fff;
  font-weight: bold;
  margin-right: 10px;
  line-height: 30px;
  letter-spacing: 0.2rem;
}

.j-title {
  color: black;
  font-weight: bolder;
  margin-top: 0px;
  letter-spacing: 0.2rem;
  font-size: 20px;
}

#d-qrcode {
  width: 150px; 
  height: 150px; 
  
}

@media (max-width: 700px) {
  .card11 {
    transform: scale(0.5);
  }
  .card-container:hover .card {
    transform: scale(0.5);
  }
}
