.header {
    background-color: #282c34;
    padding: 1rem;
  }
  
  .header-content {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 20px;
  background-color: #282c34;
  color: #fff;
}
  .logo-link {
    text-decoration: none;
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .menu {
    display: flex;
    align-items: center;
  }
  
  .menu-link {
    text-decoration: none;
    color: #61dafb;
    font-weight: bolder;
    margin-right: 40px;
    font-size: larger;
    text-decoration: none;
    line-height: 20px;
    
  }

  .menu-link:hover {
    color: #4d32e6;
  }
  
  
  .logout-btn {
    background-color: #4d32e6;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    line-height: 20px;
    
  }
  
  .logout-btn:focus {
    outline: none;
  }

  .logout-btn:hover {
    background-color: #c0392b;
  }

 