@import url('https://fonts.googleapis.com/css?family=Jura:400');
* {
  font-family: Jura, Arial;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.page {
    display: flex; /* Use Flexbox to center the form */
    justify-content: center; /* Horizontally center the form */
    align-items: center; /* Vertically center the form */
    height: 100vh;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    box-sizing: border-box;
  }
  
form {
/* Increase the width of the form */
width: 400px;
max-width: 90%; /* Set a maximum width for responsiveness */

/* Center the form within the flex container */
margin: 0 auto;

display: grid;
grid-gap: 10px;
padding: 20px;
background-color: rgba(255, 255, 255, 0.9);
border-radius: 10px;
box-shadow: 0 32px 64px rgba(0, 0, 0, 0.2);
text-align: center;
}

h2 {
  margin-bottom: 5px;
  text-align: center;
  text-shadow: 0 4px 16px #fff;
  font-size: 30px;
  font-weight: bolder;
}


form fieldset {
  margin: 0;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

form fieldset legend {
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
}

form fieldset ul {
  margin: 0;
  padding: 0;
}

form fieldset ul li {
  display: grid;
  align-items: center;
  margin: 10px;
}

form fieldset ul li a {
  color: #02c;
}

form fieldset ul li em {
  grid-column: span 2;
  text-align: center;
  padding: 5px;
}

form fieldset ul li label {
  text-align: left;
  padding-bottom: 2px;
}

form fieldset ul li input {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

form button:hover {
  background-color: #eef;
  border: 1px solid #aaf;
}

@media only screen and (min-width: 420px) {
  section#entry-page form h2 {
    font-size: 40px;
  }

  section#entry-page form fieldset ul li {
    grid-template-columns: 100px 1fr;
  }

  section#entry-page form fieldset ul li label {
    padding-right: 10px;
    padding-bottom: 0;
    text-align: right !important;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}