/* WorkProfileList.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: -webkit-linear-gradient(to right, #081947, #074257, #cce7eb);
}

.work-profile-list-container {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.work-profile-list {
  list-style-type: none;
  padding: 0;
}

.work-profile-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.card1 {
  flex: 33%;
}

.card2 {
  padding: 200px;
}

.work-profile-label {
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

.work-profile-info {
  display: flex;
  flex: 1;
}

.delete-button {
  padding-right: 30px;
  background-color: #4d32e6;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #61dafb;
  font-weight: bolder;
}

.update-button {
  background-color: #4d32e6;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.update-button:hover {
  background-color: #61dafb;
  font-weight: bolder;
}


.card-link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

.card-link,
.card-link:after,
.card-link:before {
  transition: all .5s;
}
.card-link:hover {
  color: #4d32e6;
}

.card-link {
  position: relative;
}

.card-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

.card-link:hover:after {
  width: 50%;
}

