/* WorkProfileList.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: -webkit-linear-gradient(to right, #081947, #074257, #cce7eb);
}

.work-profile-list-container {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.work-profile-list {
  list-style-type: none;
  padding: 0;
}

.work-profile-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.card1 {
  flex: 33%;
}

.work-profile-label {
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

.work-profile-info {
  display: flex;
  flex: 1;
}

.delete-button {
  background-color: #4d32e6;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #61dafb;
  font-weight: bolder;
}

.update-button {
  background-color: #4d32e6;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.update-button:hover {
  background-color: #61dafb;
  font-weight: bolder;
}


.card-preview-link {
  color: #3498db ;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.card-preview-link:hover {
  background-color: #61dafb;
  font-weight: bolder;
}